include snips_nlu_parsers/__version__
include LICENSE README.rst
recursive-include snips_nlu_parsers/dylib/ *
recursive-include ffi/ *
recursive-exclude ffi/target/ *
global-exclude __pycache__ *.py[cod]
